<a href="https://colab.research.google.com/github/VrushaliSapkal/Data-Science-and-Analytics/blob/main/DSA_Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Name** : Sapkal Vrushali Shantaram

**Class** : B.Tech

**Div** : A

**Batch** : AB4

**Roll No** : 16

**Date** : 14-09-2022

**Problem Statement :**

Download the Pima Indian Diabetes Dataset. Use Naive Bays algirithm for classification
Load the data from CSV file and split it into trainning and testing datasets
1. summarize the properties in the trainning dataset so that we can calculate probabilities and make predictions
2. Classsify samples from a test dataset and a summarized training dataset

In [1]:
import pandas as pd

In [3]:
#loading the dataset
df= pd.read_csv("/content/Diabetes.csv")

In [5]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [6]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

**Splitting the data**

In [7]:
#import train_test_split function
from sklearn.model_selection import train_test_split

In [8]:
#seperate columns in dependent and independent variables
X= df.drop('Outcome', axis= 1)

In [9]:
Y = df["Outcome"]

In [10]:
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [11]:
Y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [12]:
#split dataset into training and test sets
X_train , X_test , Y_train ,Y_test = train_test_split(X,Y,test_size=0.30,random_state=1)

After splitting data into training and testing we will generate a naive bayes model on the training set and perform prediction on the test datasets.

In [13]:
#import Gaussian naive bayes model
from sklearn.naive_bayes import GaussianNB

In [14]:
#Create a Gaussian classifier
model = GaussianNB()

In [15]:
#train the model using training sets
model.fit(X_train , Y_train)

GaussianNB()

In [16]:
#predict the response for test datasets
y_pred = model.predict(X_test)

**Evaluating Model**

In [17]:

from sklearn import metrics

In [19]:
print("accuracy:" , metrics.accuracy_score(Y_test,y_pred))

accuracy: 0.7835497835497836

In [20]:
test_pred = model.predict(X_test)

In [24]:
print(metrics.classification_report(Y_test , y_pred))

              precision    recall  f1-score   support

           0       0.80      0.88      0.84       146
           1       0.75      0.62      0.68        85

    accuracy                           0.78       231
   macro avg       0.77      0.75      0.76       231
weighted avg       0.78      0.78      0.78       231

In [25]:
print(metrics.confusion_matrix(Y_test , y_pred))

[[128  18]
 [ 32  53]]